.profile-image {
    text-align: center;
    border: 8px darkslategray solid;
    padding: 15px;
    min-height: 200px;
    background-color: #2C2A2C;
    color: #269E9E;
    padding-left: 15px;
    margin: 0
}


.sidebar {
    
    border: 8px darkslategray solid;
    padding: 15px;
    min-height: 200px;
    background-color: #2C2A2C;
    color: #269E9E;
    padding-left: 15px;
    
   }
   
.work-history { text-align: left;
    border: 8px darkslategray solid;
    padding: 20px;
    min-height: 200px;
    background-color: #2C2A2C;
    color: #269E9E;
    padding-left: 15px;
    }
    
.contact-info {
    text-align: left; 
    border: 8px darkslategray solid;
    padding: 22px;
    min-height: 200px;
    background-color: #2C2A2C;
    color: #269E9E;
    padding-left: 15px;}
    

.mydashbackground {background-color: #2C2A2C}

.link:hover {color: #28DCDC;}
.link {color: #269E9E}
.link:active {color: #269E9E}
body {font-family: 'Pacifico', cursive;}